html {
  box-sizing: border-box;
  scroll-behavior: smooth; /*Плавная прокрутка по якорям*/
}
.wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

/* header */

.header {
  background: #000000;
  backdrop-filter: blur(2px);
  height: 80px;
}
.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  height: 80px;
}
.logo {
  margin-top: 5px;
}
.nav {
  margin-left: 55px;
  margin-right: 37.2%;;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 58px;
  list-style: none;
} 
.nav-link, .link-designed {
  text-decoration: none;
  color:#FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  transition: all 0.5s ease-out;
}
.nav-link:hover, .link-designed:hover {
  color: rgba(249, 128, 75, 1);
}
.nav-link:active, .link-designed:active {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.nav-link-active {
  color: rgba(254, 144, 19, 1);
}
.hamburger {
  width: 18px;
  height: 10px;
  display: none;
  margin-top: -11px;
}
.hamburger-line {
  width: 18px;
  height: 2px;
  background-color: #FFFFFF;
  display: block;
  margin: 2px auto;
  border-radius: 2px;
}
.title {
  display: none;
}

/* section watch online */

.watch-online-background {
  background: url(../../assets/images/Giant\ Panda.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  height: 780px;
  margin-top: -80px;
}
.watch-online-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 92px;
}
.text-first-section {
  width: 500.31px;
  height: 400px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-top: -391px;
  margin-bottom: 60px;
  z-index: 2;
}
.highlighting {
  color: rgba(255, 238, 46, 1);
}
.background-behind-text {
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  z-index: 0;
  margin-right: 110px;
}
.button {
  width: 298px;
  height: 54px;
  background-color: rgba(254, 144, 19, 1);
  border:rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 100px;
  cursor: pointer;
}
button:hover {
  background-color: rgba(249, 128, 75, 1);
}
button:active {
  background-color: #4B9200;
}

/* info */

.info {
  background-image: url(../../assets/images/flower_foto1.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 204px 612px;
  background-position-x: right;
  background-position-y: 13px;
  min-height: 605px;
  margin-bottom: 118px;
}
.info-container {
  display: flex;
  gap: 87px;
  padding-top: 140px;
}
.info-img {
  width: 609px;
  height: 403px;
}
.info-text {
  width: 465px;
}
.heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #333B41;
  margin: 0;
  margin-bottom: 22px;
}
.text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  margin: 0;
  margin-bottom: 54px;
}
.subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  margin: 0;
  margin-bottom: 34px;
}
.info-text-goal {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
  margin: 0;
}

/* slider-animals */

.slider-animals {
  background-image: url(../../assets/images/palm_foto.jpg), 
                    url(../../assets/images/strelitzia\ 1.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position-x: left, right;
  background-position-y: 645px, 831px;
  min-height: 1106px;
}
.wrapper-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px 27px;
  margin-bottom: 79px;
}
.container-card {
  width: 366px;
  height: 426px;
  border: 1px solid rgba(250, 111, 50, 1);
  border-radius: 5px;
  cursor: pointer;
}
.container-card:hover {
  border: 1px solid rgba(254, 144, 19, 1);
}
.card {
  height: 366px;
  margin: 0;
  transition: width 1.5s ease-in-out 7s;
}
.card-img {
  border-radius: 5px 5px 0 0;
  
}
.card:hover {
  transition: 1.5s;
  transform: scale(1.05);
  filter: brightness(50%);
}
.card:hover + .card-caption {
  transition: 1.5s;
  transform: translate(0, -200px);
  color: #f3f7f0;
}
.card-caption {
  display: flex;
  justify-content: space-between;
  width: 336px;
  margin: 0 auto;
  padding-top: 8px;
  color: #000000;
}

.card-caption-text {
  padding-left: 2px;
}
.card-caption-text-active {
  transform: translate(-40px, -60px);
}
.animal-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  /* color: #000000; */
  margin: 0;
  margin-bottom: -3px;
}
.animal-where {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  /* color: #000000; */
  margin: 0;
}
.arrow {
  display: flex;
  justify-content: space-between;
  width: 1325px;
  margin: 0 auto;
  position: relative;
  top: -603px;
  z-index: 3;
}
.arrow-left, .arrow-right {
  width: 62px;
  height: 62px;
  background-color: #F9804B;
  border-radius: 50%;
  left: 288px;
  cursor: pointer;
}
.arrow-left:active, .arrow-right:active {
  background-color: #4B9200;
}
.arrow-left-img {
  margin: 26px 22px;
}
.arrow-right-img {
  margin: 26px 22px;
}
.button-center {
  margin-left: 431px;
}

/* feed-friend  */


.feed-friend {
  height: 935px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding-top: 69px;
  margin-bottom: 141px;
}
.wrapper-feed-friend {
  height: 835px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  
}
.container-feed-friend {
  width: 1002px;
  min-height: 270px;
  margin: 0 auto;
  padding-top: 41px;
}
.feed-friend-header{
  color: #FE9013;
  margin-bottom: 32px;
  text-align: center;
}
.subtitle-feed-friend {
  margin-bottom: 40px;
}
.feed-friend-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  margin: 0;
  margin-bottom: 10px;
}

.feed-friend-text-info{
  width: 863px;
  margin-bottom: -2px;
}
.feed-friend-link {
  color: #333B41;

}
.line {
  width: 178px;
  height: 1px;
  border-bottom: 1px solid #FE9013;
  margin-left: 87px;
  margin-bottom: 20px;
  margin-bottom: 59px;
}
.heading-medium {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
  text-align: center;
  margin: 0;
  margin-bottom: 39px;
}
.feed-friend-icon {
  width: 764px;
  display: flex;
  gap: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.container-icon {
  width: 168px;
  height: 244px;
  border-radius: 5px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 168px;
  height: 168px;
  background: #FFFFFF;
  border: 1px solid rgba(254, 144, 19, 1);
  border-radius: 5px;
  margin: 0;
  margin-bottom: 30px;
}
.container-icon:first-child img {
  width: 108px;
  height: 60px;
}
.container-icon:nth-child(2) img {
  width: 85px;
  height: 95px;
}
.container-icon:last-child img {
  width: 124px;
  height: 71px;
}
.arrow-icon {
  margin-top: 60px;
}
.arrow-icon-tablet {
  display: none;
  justify-content: center;
  gap: 118px;
  position: relative;
  top: -330px;
  left: -15px;
  margin-bottom: -59px;
}

/* testimonials */

.testimonials {
  background-image: url(../../assets/images/leav_foto.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 505px;
  background-size: 247px 403px;
  min-height: 778px;
}
.testimonials-header {
  margin: 0;
  margin-bottom: 47px;
}
.reviews {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 29.8px;
  width: 1160px;
  min-height: 391px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.review {
  box-sizing: border-box;
  width: 268px;
  height: 391px;
  background: #F1F3F2;
  border-radius: 20px;
  padding-top: 10px;
  position: relative;
}
.review::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px; 
  border: 2px solid transparent;
  background: linear-gradient(309deg,rgba(254, 189, 171, 0.74),
  rgba(254, 189, 171, 0.74),
  rgba(254, 189, 171, 0.74),
  rgba(243, 169, 248, 0.66),
  rgba(243, 169, 248, 0.66),
  rgba(224, 216, 240, 1),
  rgba(234, 247, 254, 1)) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; 
}
.user {
  width: 237px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.about-user {
  padding-top: 5px;
}
.about-user-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
  margin: 0;
}
.about-user-text {
  display: flex;
  gap: 8px;
}
.about-user-local, .about-user-day {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
  margin: 0;
}
.rewiew-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
  width: 237px;
  margin: 0 auto;
}
.input {
  text-align: center;
  margin-bottom: 26px;
}
input[type=range] {
  width: 599px;
  height: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  border-radius: 5px; 
  border: 1px solid rgba(254, 189, 171, 0.74);
  background: #FFFFFF;
}
input[type=range]::-webkit-slider-thumb {
  background: #FE9013;
  border: 1px solid #FE9013;
  border-radius: 10px/100%;
  cursor: pointer;
  width: 115px;
  height: 7px;
  -webkit-appearance: none;
  margin-top: 0;
}
input[type=range]::-moz-range-track {
  border-radius: 10px/100%;
    height: 5px;
  border: 1px solid cyan;
  background-color: #fff;
}
input[type=range]::-moz-range-thumb {
  background: #ecf0f1;
  border: 1px solid cyan;
    border-radius: 10px/100%;
  cursor: pointer;
}
.button-testimonials {
  border-radius: 5px;
  margin: 0;
}

/* footer */

.footer {
  background: #111115;
}
.footer-header {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  margin-bottom: 36px;
}
.subscribe {
  width: 367px;
}
.footer-subtitle {
  color: #FFFFFF;
  padding-top: 5px;
  margin-bottom: 13px;
}
.email {
  width: 228px;
  height: 42px;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  background-color: rgba(254, 144, 19, 0);
  color: #BDBDBD;
  border: 0.7px solid rgba(254, 144, 19, 1);
  padding-left: 10px;
  margin-right: 6px;

}
input[type=email]:focus {
  outline: none !important;
  border: 0.9px solid #4B9200;
}

.button-footer {
  box-sizing: border-box;
  width: 129px;
  height: 42px;
  background: #F1F3F2;
  border: 1px solid #4B9200;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #4B9200;
}
.button-footer-big {
  margin-bottom: 44px;
}
.contacts-and-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}
.contacts-tablet {
  display: none;
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.contact {
  display: flex;
  gap: 13px;
}
.background-icon {
  width: 26px;
  height: 26px;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-icon:active {
  background: #4B9200;
}
.background-icon:active + .social-network {
  color: #4B9200;
}
.footer-img {
  width: 8px;
  height: 16px;
}
.contact:nth-child(2) img {
  width: 16px;
  height: 14px;
}
.contact:nth-child(3) img {
  width: 16px;
  height: 16px;
}
.contact:nth-child(4) img {
  width: 18px;
  height: 13px;
}
.social-network {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  margin: 0;
  padding-top: 4px;
  text-decoration: none;
}
.social-network:active {
  color: #4B9200;
}
.nav-footer {
  margin-right: -64px;
}
.nav-list-footer {
  margin-bottom: 0;
}
.footer-designed {
  width: 228px;
}
.designed-by {
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  padding-top: 11px;
}
.designed-by:active {
  color: #4B9200;
  text-decoration: underline;
}
.designed-by:active + .designed-by {
  color: #4B9200;
  text-decoration: underline;
}

/* media  */

@media screen and (max-width: 1000px) {
  .wrapper {
    max-width: 940px;
  }

  /* header  */

  .header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .nav {
    margin-right: 26.5%;
  }
  .nav-list {
    gap: 48px;
  }

  /* section watch online */

  .watch-online-background {
    height: 584px;
  }
  .watch-online-container {
    padding-top: 69px;
  }
  .background-behind-text {
    width: 367px;
    height: 367px;
    margin-right: 147px;
  }
  .text-first-section {
    width: 400.25px;
    height: 320px;
    font-size: 85px;
    margin-right: 56px;
    margin-top: -311px;
    margin-bottom: 38px;
  }
  .button {
    margin-right: 107px;
  }

  /* info */

  .info {
    background-image: none;
    margin-bottom: 65px;
  }
  .info-container {  
    gap: 31px;
    padding-top: 109px;
  }
  .info-img {  
    width: 455px;
    height: 408px;
  }
  .info-text {  
    margin-top: -9px;
  }

  /* slider-animals */

  .slider-animals {  
    background-image: url(../../assets/images/palm_foto_small.jpg), 
                      url(../../assets/images/strelitzia_small.jpg);
    background-position-y: 872px, 895px;
    min-height: 1074px;
  }
  .wrapper-cards {  
    gap: 89px 27px;
    margin-bottom: 83px;
  }
  .arrow {  
    width: 295px;
    top: -566px;
  }
  .container-card {  
    width: 294px;
    height: 352px;
  }
  .card {
    height: 294px;
  }
  .card-img {
    width: 294px;
  }
  .card-caption {
    width: 267px;
  }
  .button-center {
    margin-left: 321px;
  }

  /* feed-friend  */

  .wrapper-feed-friend {
    height: 796px;
  }
  .feed-friend {
    padding-top: 30px;
    height: 846px;
    margin-bottom: 101px;
  }
  .container-feed-friend {
    width: 843px;
    padding-top: 30px;
  }
  .feed-friend-header {
    margin-bottom: 21px;
  }
  .subtitle-feed-friend {
    margin-bottom: 21px;
  }
  .feed-friend-text {
    width: 813px;
  }
  .feed-friend-text {
    width: 813px;
  }
  .feed-friend-text-info {
    width: 823px;
    margin-bottom: -4px;
  }
  .line {
    margin-left: 151px;
    margin-bottom: 41px;
  }
  .feed-friend-icon {
    margin-bottom: 70px;
  }
  .testimonials-header {
    margin-bottom: 29px;
  }

  /* testimonials */

  .review {
    width: 293px;
  }

  .review:nth-child(2) {
    display: none;
  }
  .user {
    width: 263px;
  }
  input[type=range] {
    width: 390px;
    margin-left: -14px;
  }
  input[type=range]::-webkit-slider-thumb {
    width: 75px;
  }
  .input {
    margin-bottom: 47px;
  }
  .testimonials {
    background-position-y: 503px;
    background-size: 198.62px 322.98px;
    min-height: 741px;
  }

  /* footer  */

  .subscribe {
    margin-right: 32px;
  }
  .contacts-and-nav {
    margin-bottom: 48px;
  }
  .contacts {
    gap: 9px;
  }
  .nav-footer {
    margin-right: -64px;
    margin-left: 25px;
  }
  .designed-by {
    padding-top: 9px;
  }

}
@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 600px;
  }
    
  /* header  */

  .header {
    height: 34px;
    position: fixed;
    width: 100%;
  }
  .header-wrapper {
    justify-content: space-between;
    height: 34px;
  }
  .logo {
    margin-top: 3px;
  }
  .nav, .link-designed {
    display: none;
  }
  .hamburger {
    display: block;
  }

  /* section watch online */

  .watch-online-background {
    background: url(../../assets/images/Giant_Panda_tablet.jpg);
    height: 373px;
    margin-top: 0;
  }
  .watch-online-container {
    padding-top: 0px;
  }
  .background-behind-text {
    width: 237.6px;
    height: 237.6px;
    margin-right: 52px;
    margin-top: 44px;
  }
  .text-first-section {
    width: 255.64px;
    height: 204.38px;
    font-size: 54.2894px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    margin-right: -4px;
    margin-top: -199px;
    margin-bottom: -8px;
  }
  .button {
    margin-right: 302px;
  }

  /* info */

  .info {
    background-image: url(../../assets/images/flower_foto1_tablet.jpg);
    background-size: 132px 484px;
    background-position-y: -5px;
    margin-bottom: 37px;
    min-height: 470px;
  }
  .info-img {
    display: none;
  }
  .info-container {
    padding-top: 60px;
  }
  .info-text {
    margin-top: 0;
    width: 482px;
  }
  .heading {
    padding-left: 4px;
  }
  .text {
    margin-bottom: 30px;
  }
  .subtitle {
    padding-left: 4px;
    margin-bottom: 19px;
  }

  /* slider-animals */

  .slider-animals {  
    background-image: url(../../assets/images/palm_foto_tablet.jpg), 
                      url(../../assets/images/strelitzia_tablet.jpg);
    background-position-y: 769px, 840px;
    min-height: 970px;
  }
  .wrapper-cards {
    gap: 92px 28px;
    margin-bottom: 60px;
  }
  .container-card {  
    width: 284px;
    height: 330px;
  }
  .card {
    height: 284px;
  }
  .card-img {
    width: 284px;
  }
  .animal-name {
    font-size: 12.4695px;
  }
  .animal-where {
    font-size: 11.6901px;
  }

  .card-caption img {
    width: 12%;
  }
  .arrow {
    width: 154px;
    top: -550px;
  }
  .button-center {
    margin-left: 151px;
  }

  /* feed-friend  */

  .feed-friend {
    padding-top: 20px;
    height: 761px;
    margin-bottom: 61px;
  }
  .wrapper-feed-friend {
    height: 741px;
  }
  .container-feed-friend {
    width: 600px;
    padding-top: 10px;
  }
  .feed-friend-header {
    font-size: 42px;
    margin-bottom: 21px;
  }
  .subtitle-feed-friend {
    font-size: 22px;
    padding-left: 0;
    margin-bottom: 19px;
  }
  .feed-friend-text {
    width: 600px;
  }
  .feed-friend-text-info {
    width: 600px;
    margin-bottom: -4px;
  }
  .line {
    margin-left: 356px;
    margin-bottom: 31px;
  }
  .heading-medium {
    margin-bottom: 19px;
  }
  .arrow-icon {
    display: none;
  }
  .feed-friend-icon {
    gap: 42px;
  }
  .arrow-icon-tablet {
    display: flex;
  }

  /* testimonials */

  .testimonials {
    background-image: url(../../assets/images/leav_foto_tablet.jpg);
    background-position-y: 472px;
    background-size: 116.15px 203.88px;
    min-height: 607px;
  }
  .testimonials-header {
    margin-bottom: 29px;
  }
  .reviews {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    width: 600px;
    min-height: 391px;
    margin-bottom: 6px;
  }
  .review {
    width: 600px;
    height: 109px;
    overflow: hidden;
  }
  .review:not(.review:first-child) {
    margin-top: -18px;
  }
  .user {
    margin: 0;
    margin-bottom: 10px;
    padding-left: 12px;
  }
  .rewiew-text {
    width: 556px;
    margin: 0;
    padding-left: 17px;
  }
  .input {
    display: none;
  }
  .button-testimonials {
    width: 240px;
    margin-left: 180px;
  }

  /* footer  */

  /* .footer-header {
    padding-top: 10px;
    margin-bottom: 28px;
  }
  .subscribe, .social-network, .contacts {
    display: none;
  }
  .button-footer-big {
    margin-bottom: 44px;
    margin-left: 0;
    width: 298px;
  }
  .contacts-tablet {
    display: flex;
    gap: 20px;
  } */




}