body {
  text-align: center;
  /* transform: translate(0%, 50%); */
}
canvas {
  border: 1px solid rgba(34, 153, 125, 0.8);
  position: relative;
  top: 115px;
}
button {
  position: absolute;
  top: 18px;
  left: 40%;
  background-color: #FFFFFF;
  box-shadow: inset 2px 2px 1em rgba(34, 153, 125, 0.7);
  border: rgba(34, 153, 125, 0.7);
  border-radius: 2px;
  padding: 7px;
  color: #131414;
  font-size: 16px;
  cursor: pointer;
}
button:nth-child(2) {
  top: 70px;
  left: 44.5%;
}
button:nth-child(3) {
  left: 53%;
}
button:nth-child(4) {
  top: 70px;
  left: 52%;
}
.moves-name {
  position: relative;
  top: 125px;
  left: -3%;
}
div {
  position: relative;
  top: 108px;
}